.test-running{
  width: 90%;
  height: auto;
}

.while-running {
  font-size: 20px;
  color: white;
}

.done-running{
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.aligner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
