.rank {
  margin: 20px;
}

.label {
  float: left !important;
  margin-right: 20px;
}

.list-group-item {
  background: #e4e4e4;
}

.rank-container {
  margin: 20px;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 10px;
}

.rank-container h1 {
  margin-left: 20px;
}
