.rank {
  margin: 20px;
}

.label {
  float: left !important;
  margin-right: 20px;
}

.list-group-item {
  background: #e4e4e4;
}

.rank-container {
  background: #B3C4BA;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  margin-left: 22rem;
  border: 5px solid #939F75;
}

.rank-container h1 {
  margin-left: 20px;
}
